.Chat_content-section {
  /* border: 1px solid yellow; */
  display: flex;
  flex-flow: nowrap;

}

/* .Chat_friends {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #000000;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  min-width: 14vw;
  max-height: 100vh;
  overflow-y: auto;
}

.Chat_friends::-webkit-scrollbar {
  width: .6vw;
}

.Chat_friends::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.Chat_friends::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: .15vw solid var(--scrollbarBG);
} */

.Chat-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-height: 100vh;
}

.Chat_conversation {
  position: relative;
  /* test */
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
  row-gap: .15rem;
  overflow-y: scroll;
}

.ta-frame {
  display: flex;
}

.ta-frame>textarea {
  overflow-y: scroll;
  outline: 0;
  width: 100%;
  font-size: 1.2rem;
  resize: none;
}

.ta-frame>.Chat_msg-send-btn>span {
  color: white;
}

.Chat_msg-send-btn {
  display: flex;
  padding: 10px 20px;
  background-color: cornflowerblue;
  width: 20px;
  height: 10px;
  justify-content: center;
  align-items: center;
}