*{
 /* border: .1px solid black; */
}
.Navbar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.Nav-Logo
{
  display: flex;
  align-items: center;
  flex-flow: nowrap;
}
.Nav-Logo p
{
  margin: 1rem ;
  white-space: nowrap;
}

.Nav-Logo img
{
  height: 3rem;
}

.Nav-menu
{
  display: flex;
  flex-flow: nowrap;
  column-gap: .4rem;
}
.Nav-item
{
  display: flex;
  color: black;
  font-weight: bolder;
  padding: .7rem 1.2rem;
  text-decoration: none;
  align-items: center;
  font-size: 1.4rem;
}

.Nav-item-Icon
{
}

.Nav-item-active
{
  background-Color: rgb(45,57,20,.1);
  border-bottom: 6px solid green;
}