.Card-Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

}


.Card-Content > p{
    width: 100%;
    white-space: nowrap;
}
.Card-Action{
    display: flex;
    gap: 2px;

}
